body {
	padding: 0;
	margin: 0;
}
header {
	height: 50px;
	background-color: #081c33;
	padding: 0;
	margin: 0;
}
img {
	position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}
a {
	text-decoration: none;
	color: inherit;
}
nav ul {
	overflow: hidden;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 30px;
	color: #dddddd;
	font-family: archive;
}
nav ul li {
	display: inline-block;
	padding: 10px;
}
.maincontainer {
	height: 924px;
	width: 100%;
	background: url(/img/Background2.png) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.infocontainer {
	
}