body {
	padding: 0;
	margin: 0;
}
header {
	width: 100%;
	background-color: #081c33;
	padding: 0;
	margin: auto;
}
a {
	text-decoration: none;
	color: inherit;
}
nav ul {
	overflow: hidden;
	padding: 0 0 0 0;
	margin: 0px;
	text-align: center;
	background-color: #0e0028;
	font-size: 30px;
	color: #dddddd;
	font-family: archive;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}
nav ul li {
	display: inline-block;
	padding: 10px;
}
.handle {
	width: 100%;
	background-color: #0e0028;
	text-align: left;
	box-sizing: border-box;
	padding: 20px 15px;
	cursor: pointer;
	font-size: 40px;
	color: #dddddd;
	display: none;
	font-family: archive;
}
.dropdownicon {
	display: none;
}
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0ba6f8;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.maincontainer {
	height: 924px;
	width: 100%;
	background: url(/img/Background2.png) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.kickstvlogo {
	display: block;
    margin-left: auto;
	margin-right: auto;
	padding: 200px 0 0 0;
}
.infocontainer {
	height: 700px;
	width: 100%;
	padding: 0;
	margin: 0;
}
.infocontainer>h1 {
	font-size: 60px;
	color: black;
	font-family: Passion One;
	padding-top: 20px;
	padding-bottom: 70px;
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.centercontainer {
	width: 60%;
	height: 500px;
	margin: auto;
	border: 1px solid black;
}
.gap {
	display: inline-block;
	padding: 0 100px;
}
.imagecontainer {
	display: table;
    margin: 0 auto;
}
.logos {
	display: inline-block;
	height: 80px;
	width: 80px;
	padding: 20px 0px;
	cursor: pointer;
}
.clicklogos {
	display: inline-block;
	height: 80px;
	width: 80px;
	padding: 20px 0px;
	cursor: pointer;
}
.logos:hover {
	opacity: 0.3;
}
.clicklogos:hover {
	opacity: 0.3;
}
.infocontainer>.centercontainer>h1 {
	display: none;
	text-align: center;
	font-size: 30px;
	color: black;
	font-family: Passion One;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 0;
}
.showtext {
	display: block;
}
.grassblock {
	display: block;
	height: 80px;
	width: 80px;
	margin: auto;
	padding-top: 10px;
	cursor: pointer;
}
.grassblock:hover {
	opacity: 0.6;
}
@media screen and (max-width: 800px) {
	nav ul {
		max-height: 0;
	}
	.showing {
		max-height: 20em;
	}
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 15px;
		text-align: left;
	}
	.handle {
		display:block;
	}
	.dropdownicon {
		display: block;
		float: right;
	}
	.gap {
		padding: 0 5px;
	}
	.infocontainer>.centercontainer>h1 {
		font-size: 25px;
	}
}
@media screen and (max-width: 360px) {
	.logos {
		height: 50px;
		width: 50px;
	}
	.grassblock {
		height: 50px;
		width: 50px;
	}
	.clicklogos {
		height: 50px;
		width: 50px;
	}
	.infocontainer>h1{
		font-size: 40px;
	}
	.infocontainer>.centercontainer>h1 {
		font-size: 15px;
	}


}