@font-face {
  font-family: 'Passion One';
  font-style: normal;
  font-weight: 400;
  src: local('Passion One'), local('PassionOne-Regular'), url(http://fonts.gstatic.com/s/passionone/v6/fY6k21F1QT2c_Oc3HRNDwiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/K88pR3goAWT7BTt32Z01mxJtnKITppOI_IvcXXDNrsc.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
body {
	padding: 0;
	margin: 0;
}
header {
	width: 100%;
	background-color: #081c33;
	padding: 0;
	margin: auto;
}
.maincontainer {
	height: 902px;
	width: 100%;
	background: url(/img/Background2.png) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	padding: 80px 0 50px 0;
	margin: 0;
}
.infocontainer {
	width: 70%;
	height: 50px;
	margin: auto;
	padding: 0;
	background-color: #171717;
}
.textcontainer {
	display: inline-block;
	padding: 10px 0 0 0;
	margin: 0;
 	background: #D2D2D2;
	width: 20%;
	height: 40px;
}
.infocontainer>.textcontainer>h3 {
	padding: 0;
	text-align: center;
	margin: 0;
	font-family: Open Sans, sans-serif;
	color: 171717;
	font-size: 25px;
}
.centercontainer {
	width: 70%;
	height: 80%;
	margin: auto;
	padding: 100px 0 0 0;
	border-radius: 0 0 5px 5px;
 	background: #D2D2D2;
}
.imageboxcontainer {
	width: 100%;
	margin: auto;
	height: 45%;
	margin-bottom: 20px;
}
.imageboxcenter {
	width: 100%;
	height: 100%;
	text-align: center;
}
.imagecontainer1 {
	border: solid black 2px;
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0 20px;
	background: url(/img/Images/flag.jpg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.imagecontainer2 {
	border: solid black 2px;
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0 20px;
	background: url(/img/Images/poppy.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.imagecontainer3 {
	border: solid black 2px;
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0 20px;
	background: url(/img/Images/norge.jpg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.imagecontainer4 {
	border: solid black 2px;
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0 20px;
	background: url(/img/Images/dare.jpg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.imagecontainer5 {
	border: solid black 2px;
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0 20px;
	background: url(/img/Images/beach.jpg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.imagecontainer6 {
	border: solid black 2px;
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0 20px;
	background: url(/img/Images/wales.jpg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.imagecontainer7 {
	border: solid black 2px;
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0 20px;
	background: url(/img/Images/stone.jpg) no-repeat;
	background-position: center;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.imagecontainer8 {
	border: solid black 2px;
	width: 20%;
	height: 100%;
	display: inline-block;
	margin: 0 20px;
	background: url(/img/Images/flag.jpg) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.posts {
	width: 70%;
	margin: auto;
}
.post {
	background: url(/img/Background2.png) no-repeat;
	background-position: left top;
    background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	padding: 80px 0 50px 0;
}
.centercontainer>.posts>ul {
	padding: 0;
	margin: 0;
	font-family: arial;
	font-size: 20px;
}
.post-container {
	width: 70%;
	height: 60px;
	margin: auto;
	padding: 0;
	background-color: #171717;
}
.post-title-container {
	padding: 10px 0 0 0;
	margin: 0;
 	background: #D2D2D2;
	width: 220px;
	height: 60px;	
}
.post-header {
	width: 70%;
	height: 800px;
	margin: auto;
	padding: 50px 0 0 0;
	border-radius: 0 0 10px 10px;
 	background: #D2D2D2;
}
.post-title {
	font-family: arial;
	font-size: 25px;
	margin: 0;
	padding: 0;
	text-align: center;
}
.post-meta {
	margin-top: 3px;
	margin-bottom: 0;
	text-align: center;
}
.post-content {
	font-size: 20px;
	margin: 0 0 0 55px;
}
.footercontainer {
	width: 100%;
	height: 25px;
	background-color: #171717;
	margin: 0;
	padding: 0;
}
.posts>ul>li>a {
	color: #00A3D0;
	font-size: 25px;
	font-family: Open Sans, sans-serif;
}
.posts>ul>li>a:hover {
    text-decoration: underline;
}
.footercontainer>h3 {
	text-align: center;
	color: lightgrey;
	font-size: 15px;
	font-family: Open Sans, sans-serif;
	padding: 4px 0 0 0;
	margin: 0;
	letter-spacing: 1px;
}
a {
	text-decoration: none;
	color: inherit;
}
nav>ul {
	overflow: hidden;
	padding: 0 0 0 0;
	margin: 0px;
	text-align: center;
	background-color: #171717;
	font-size: 40px;
	color: #dddddd;
	font-family: Passion One, sans-serif;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
	text-transform: uppercase;
}
.headercontainer>nav>ul>a>li {
	display: inline-block;
	padding: 10px;
	color: lightgray;
}
.hvr-sweep-to-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-top:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0ba6f8;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
  color: white;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
.kickstvlogo {
	display: block;
    margin-left: auto;
	margin-right: auto;
	font-family: arial;
	position: absolute;
	width: 250px;
	height: 250px;
}
.ktvcontainer {
	margin: auto;
	width: 250px;
	height: 250px;
	padding: 9em 0 0 0;
}
.maincontainer>.ktvcontainer>h3 {
	color: lightgrey;
	font-family: Passion One, sans-serif;
	text-align: center;
	font-size: 5em;
	letter-spacing: 2.5px;
	margin-top: 80px;
	text-shadow: 1px 3px #565656;
}
.buttoncontainer {
	width: 354px;
	height: 70px;
	margin: 0 auto;
	margin-top: 300px;
}
.youtubecontainer {
	display: inline;
	width: 150px;
	padding: 0;
	margin-top: 100px;
}
.twitchcontainer {
	display: inline;
	width: 150px;
	padding: 0;
	margin-top: 100px;
	margin: 0 0 0 50px;
}
.btn-youtube {
	width: 150px;
	height: 70px;
	border-radius: 15px;
	color: lightgrey;
	font-size: 20px;
	font-family: Open Sans, sans-serif;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
}
.btn-twitch {
	width: 150px;
	height: 70px;
	border-radius: 15px;
	color: lightgrey;
	font-size: 20px;
	font-family: Open Sans, sans-serif;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-color: transparent;
}
.btn-youtube:hover {
	background-color: #F93E3E;
}
.btn-twitch:hover {
	background-color: #8F42EE;
}
@media screen and (max-width: 800px) {
	nav ul {
		font-size: 18px;
	}
}
@media screen and (max-width: 400px) {
	.buttoncontainer {
		margin: 0 auto;
		margin-top: 150px;
	}
@media screen and (max-width: 950px) {
	.btn-youtube {
		width: 75px;
		height: 35px;
		font-size: 10px;
	}
	.btn-twitch {
		width: 75px;
		height: 35px;
		font-size: 10px;
	}
	.twitchcontainer {
		margin: 0 0 0 20px;
	}
	.kickstvlogo {
		width: 150px;
		height: 150px;
	}
	.ktvcontainer {
		width: 150px;
		height: 150px;
	}
	.maincontainer>.ktvcontainer>h3 {
	font-size: 3.5em;
	margin-top: 45px;
	}
	.maincontainer {
	height: 640px;
	width: 100%;
	
	.infocontainer>.textcontainer>h3 {
	font-size: 20px;
	}
}
@media screen and (max-width: 800px) {
	nav ul {
		font-size: 18px;
	}
	.infocontainer>.textcontainer>h3 {
	font-size: 18px;
	}
}